
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
    cursor: none;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* progress code start  */
/* Top Progress Bar Style */
@keyframes loadingBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
